body{
  text-align: center;
  font-family: Helvetica
}
.top{
  background-image: url("file://C:/Users/USER/PC/Projects/Broadway/resources/image/the-flatiron-building.png");
  color: white;
}
h1{
  font-size: 70px;
  font-weight: bold;
}

h3{
  font-size: 32px;
  font-weight: bold;
}
